{% extends "bucketlist/base.html" %}
{% load staticfiles %}
{% block body_block %}
			<div>
				<h2>banner goes here</h3>
				<ul id="carousel" class="elastislide-list">
					<li><img src="{% static 'elastislide/images/small/rsz_121.jpg' %}" alt="image01" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_22.jpg' %}" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_23.jpg' %}" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_24.jpg' %}" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_125.jpg' %}" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_26.jpg' %}" /></a></li>
					<li><img src="{% static 'elastislide/images/small/rsz_27.jpg' %}" /></a></li>
				</ul>
			</div
<section id="main" class="container">
 <div class="box">
	<h5>random words </h5>
 </div>
</section>
{% endblock %}