{% extends "bucketlist/base.html" %}

{% block body_block %}

<section id="main" class="container">
 <div class="box">
  <form action="" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
      {{ form }}
	  <input type="submit" value="Submit" />
   </form>
  </div>
 {% if bucketlist %}
   <div>
    <form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="control" value="delete" />
    <input type="submit" value="Delete" class="btn btn-lg btn-block btn-danger" />
    </form>
   </div>
{% endif %}
</section>
  {% endblock %}