{% extends "bucketlist/base.html" %}


{% block body_block %}


	
 <section id="main" class="container">
  
  <div class="box">
    <div>
      <div>
        <h4><u>Username</u></h4>
        <div>{{ user.username }}</div>
      </div>
      <div>
        <h4><u>Email</u></h4>
        <div>{{ user.email }}</div>
      </div>
      <div>
        <h4><u>Location</u></h4>
        <div>{{ user_profile.location }}</div>
      </div>
		<div>
        <h4><u>Facebook</u></h4>
        <a href="{{ user_profile.facebook }}" class="list-group-text" target="_blank">{{ user_profile.facebook }}</a>
      </div>    
		<a  href="{% url 'profileedit' %}">Edit Profile</a>
    </div>
  </div>
 </section>
{% endblock %}