{% extends "bucketlist/base.html" %}
{% load staticfiles %} 
{% block body_block %}

<section id="main" class="container">
 <div id="paper" class="box">	
	{% if list %}
	<ol class="paperlist" id="sortable">
	{% for item in list %}  
	<div>
     <li class="increase">{{item.title }}<span><a href="{% url 'addlist' %}?id={{item.id}}"><img border="0" alt="edit" src="{% static 'images/edit.png' %}" width="20" height="20" /></a></span>
	</li>
	</div>
	{% endfor %}
	</ol>
	{% else %} 
	<p>Your List Is Currently Empty!</p>
	{% endif %}
 </div>
</section>



  {% endblock %}